$couleur1:#a3ba03;
$couleur2:#007492;
$couleur3:#f29400;

$espace:3rem;

$fontSizeTresGrand:5rem;
$fontSizeGrand:3rem;
$fontSizeMoyen:2rem;
$fontSizeNormal:1.6rem;
$fontSizePetit:1.3rem;

@mixin fondRubrique{
	background-color:$couleur3;
	padding:10px;
	margin:10px 0
}
@mixin bordure{
	border:1px solid;
	padding:10px
}
@mixin bouton{
	color:#000;
	display:inline-block;
	margin:auto;
	border:1px solid;
	padding:5px;
	text-decoration: none;
	text-transform:uppercase;
	font-size:$fontSizePetit;
}
@mixin boutonHover{
	border:none;
	background-color:#FFF;
}

// STYLES GENERAUX

h1, h1 a{
	font-size:$fontSizeTresGrand;
	color:darken($couleur3,5%);
}
h2, h2 a{
	font-size:$fontSizeGrand;
	color:darken($couleur3,10%);
}
h3, h3 a{
	font-size:$fontSizeMoyen
}
body{
	font-size:$fontSizeNormal
}
a{
	text-decoration: none;
	font-weight:bold;
	color:$couleur3
}

// HEADER

header a{
	text-decoration:none;
	font-weight:normal;
	color:#000;
	display:inline-block;
	width:100%;
	padding:5px 0;
}
li.parent > a:after{
	content:"";
	width:0; 
	height:0; 
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #000;
	position:relative;
	top:13px; 
	left:6px
}
header nav {
    background-color: $couleur1;
	padding:$espace 0;
	margin-top:10px;
}
header ul, header li {
    list-style:none
}
header nav > ul{
	position:relative;
}
header nav > ul > li {
    margin:auto;
	position:relative;
    z-index:5;
}

// SLIDER 

.texteSlider{
    max-width:960px;
    margin:auto;
    text-align: center;
}
.suiteSlider{
    @include bouton;
    margin-top:10px;
    &:hover{
        color:$couleur2;
        border-color:$couleur2;
    }
}

// ACTUS

.actualites{
    background-color:lighten($couleur2,10%);
}
.actu{
	@include bordure;
    flex:1;
	text-align:center;
	margin:10px;
	header{
		margin-bottom:10px;
		a{
			color:#000;
            font-size:$fontSizeMoyen;
			&:hover{
				text-decoration: underline;
			}
		}
	}
}
.actu img{
    max-width:150px
}
time, .tag a{
	font-size:$fontSizePetit;
	font-style:italic
}

// GALERIE

.galerie img{
	max-width:200px;
}

// CONTENU

.ariane{
    font-size:$fontSizePetit;
    margin-bottom: 10px;
}
section{
	padding:10px;
}
input[type="checkbox"], input[type="radio"]{
	margin-right:5px
}
fieldset{
	@include bordure;
	legend{
		padding:0 5px;
	}
}
label{
	margin-right:5px
}

// COMMENTAIRES

.commentaires{
	border-top:1px solid;
	margin-top:$espace;
	&>div:last-of-type > p {
		font-weight:bold;
		margin:$espace 10px 10px 10px
	}
}
legend{
	font-size:$fontSizeMoyen;
}
.com{
	margin:$espace 0;
	p:last-of-type{
		margin-left: 20px
	}
	.dateCom{
		font-size:$fontSizePetit;
		font-style:italic;
	}
}

// RUBRIQUE

.rubrique{
	@include fondRubrique;
    h2, h2 a{
        color:#000;
        font-size:$fontSizeMoyen;
        &:hover{
            text-decoration: underline;
        }
    }
}
.rubrique p:last-of-type{
	text-align: center
}
.suite{
	@include bouton;
}
.suite:hover{
	@include boutonHover;
}
.rubrique h3 a{
	color:#000;
	&:hover{
		text-decoration: underline;
	}
}

// FOOTER

footer{
    background-color:$couleur2;
    color:#FFF;
    #arboFooter{
        padding:$espace 0;
        background-color:darken($couleur2, 10%);
        list-style: none;
		a{
			font-weight:normal
		}
        ul{
            list-style:none
        }
		&>ul{
			padding:0;
		}
    }
    #liensFooter{
        text-align: center;
        padding:$espace 0;
        a{
            margin:0 10px;
        }
    }
    a{
        color:#FFF;
        text-decoration:none;
    }
}
footer nav > ul > li{margin:auto}

@media (min-width:769px){
	a.menuBurger{
		display:none;
	}
	header nav li{
		padding:0 5px;
	}
	header nav > ul > li:hover{
		background-color:darken($couleur1, 10%);
	}
	header nav > ul > li > ul{
    position:absolute;
	padding:0;
    left:-9999px;
	opacity:0;
	transition:opacity 0.5s;
    background-color:$couleur1;
	min-width:150px;
	top:30px;
	li:hover{
		background-color:darken($couleur1, 6%)
	}
	}
	header nav > ul > li:hover > ul{
		left:0;
		opacity:1;
	}
	header nav > ul > li > ul > li > ul{
		position:absolute;
		left:-9999px;
		width:100%;
		padding:0;
		opacity:0;
		transition:opacity 0.5s;
		background-color: darken($couleur1, 10%);
	}
	header nav > ul > li > ul > li:hover > ul{
		left:100%;
		top:0;
		opacity:1;
	}
}
@media (max-width:768px){
	header nav > ul.flex-container, a.parent + ul {
		display:none;
	}
	header nav > ul{
		padding:0;
		&>li{
			width:100%;
			padding:0;
			&>a{
				margin-left:5px;
			}
			&>ul{
				background-color: darken($couleur1, 5%);
				padding:0;
				&>li>a{
					margin-left:20px;
				}
				&>li>ul{
					background-color: darken($couleur1, 10%);
					padding:0;
					&>li>a{
						margin-left:40px;
					}
				}
			}
		}
	}
	a.menuBurger{
		font-size:$fontSizeGrand;
		text-align: center;
	}
	main > section, main > article, main > aside{
		padding:10px;
	}
	#arboFooter{
		display:none;
	}
}