/* line 39, /Users/nadegehamann/Desktop/templateGit/templateTest.scss */
h1, h1 a {
  font-size: 5rem;
  color: #d98400; }

/* line 43, /Users/nadegehamann/Desktop/templateGit/templateTest.scss */
h2, h2 a {
  font-size: 3rem;
  color: #bf7500; }

/* line 47, /Users/nadegehamann/Desktop/templateGit/templateTest.scss */
h3, h3 a {
  font-size: 2rem; }

/* line 50, /Users/nadegehamann/Desktop/templateGit/templateTest.scss */
body {
  font-size: 1.6rem; }

/* line 53, /Users/nadegehamann/Desktop/templateGit/templateTest.scss */
a {
  text-decoration: none;
  font-weight: bold;
  color: #f29400; }

/* line 61, /Users/nadegehamann/Desktop/templateGit/templateTest.scss */
header a {
  text-decoration: none;
  font-weight: normal;
  color: #000;
  display: inline-block;
  width: 100%;
  padding: 5px 0; }

/* line 69, /Users/nadegehamann/Desktop/templateGit/templateTest.scss */
header nav {
  background-color: #a3ba03;
  padding: 3rem 0;
  margin-top: 10px; }
  /* line 73, /Users/nadegehamann/Desktop/templateGit/templateTest.scss */
  header nav li {
    padding: 0 5px; }

/* line 77, /Users/nadegehamann/Desktop/templateGit/templateTest.scss */
header ul, header li {
  list-style: none; }

/* line 80, /Users/nadegehamann/Desktop/templateGit/templateTest.scss */
header nav > ul {
  position: relative; }

/* line 83, /Users/nadegehamann/Desktop/templateGit/templateTest.scss */
header nav > ul > li {
  margin: auto;
  position: relative;
  z-index: 5; }
  /* line 87, /Users/nadegehamann/Desktop/templateGit/templateTest.scss */
  header nav > ul > li:hover {
    background-color: #778802; }

/* line 91, /Users/nadegehamann/Desktop/templateGit/templateTest.scss */
header nav > ul > li > ul {
  position: absolute;
  padding: 0;
  left: -9999px;
  opacity: 0;
  transition: opacity 0.5s;
  background-color: #a3ba03;
  min-width: 150px;
  top: 30px; }
  /* line 100, /Users/nadegehamann/Desktop/templateGit/templateTest.scss */
  header nav > ul > li > ul li:hover {
    background-color: #899c03; }

/* line 104, /Users/nadegehamann/Desktop/templateGit/templateTest.scss */
header nav > ul > li:hover > ul {
  left: 0;
  opacity: 1; }

/* line 108, /Users/nadegehamann/Desktop/templateGit/templateTest.scss */
header nav > ul > li > ul > li > ul {
  position: absolute;
  left: -9999px;
  width: 100%;
  padding: 0;
  opacity: 0;
  transition: opacity 0.5s;
  background-color: #778802; }

/* line 117, /Users/nadegehamann/Desktop/templateGit/templateTest.scss */
header nav > ul > li > ul > li:hover > ul {
  left: 100%;
  top: 0;
  opacity: 1; }

/* line 122, /Users/nadegehamann/Desktop/templateGit/templateTest.scss */
a.parent:after {
  content: "";
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #000;
  position: relative;
  top: 13px;
  left: 6px; }

/* line 136, /Users/nadegehamann/Desktop/templateGit/templateTest.scss */
.texteSlider {
  max-width: 960px;
  margin: auto;
  text-align: center; }

/* line 141, /Users/nadegehamann/Desktop/templateGit/templateTest.scss */
.suiteSlider {
  color: #000;
  display: inline-block;
  margin: auto;
  border: 1px solid;
  padding: 5px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.3rem;
  margin-top: 10px; }
  /* line 144, /Users/nadegehamann/Desktop/templateGit/templateTest.scss */
  .suiteSlider:hover {
    color: #007492;
    border-color: #007492; }

/* line 152, /Users/nadegehamann/Desktop/templateGit/templateTest.scss */
.actualites {
  background-color: #009dc5; }

/* line 155, /Users/nadegehamann/Desktop/templateGit/templateTest.scss */
.actu {
  border: 1px solid;
  padding: 10px;
  flex: 1;
  text-align: center;
  margin: 10px; }
  /* line 160, /Users/nadegehamann/Desktop/templateGit/templateTest.scss */
  .actu header {
    margin-bottom: 10px; }
    /* line 162, /Users/nadegehamann/Desktop/templateGit/templateTest.scss */
    .actu header a {
      color: #000;
      font-size: 2rem; }
      /* line 165, /Users/nadegehamann/Desktop/templateGit/templateTest.scss */
      .actu header a:hover {
        text-decoration: underline; }

/* line 171, /Users/nadegehamann/Desktop/templateGit/templateTest.scss */
.actu img {
  max-width: 150px; }

/* line 174, /Users/nadegehamann/Desktop/templateGit/templateTest.scss */
time, .tag a {
  font-size: 1.3rem;
  font-style: italic; }

/* line 181, /Users/nadegehamann/Desktop/templateGit/templateTest.scss */
.galerie img {
  max-width: 200px; }

/* line 187, /Users/nadegehamann/Desktop/templateGit/templateTest.scss */
.ariane {
  font-size: 1.3rem;
  margin-bottom: 10px; }

/* line 191, /Users/nadegehamann/Desktop/templateGit/templateTest.scss */
section {
  padding: 10px; }

/* line 194, /Users/nadegehamann/Desktop/templateGit/templateTest.scss */
input[type="checkbox"], input[type="radio"] {
  margin-right: 5px; }

/* line 197, /Users/nadegehamann/Desktop/templateGit/templateTest.scss */
fieldset {
  border: 1px solid;
  padding: 10px; }
  /* line 199, /Users/nadegehamann/Desktop/templateGit/templateTest.scss */
  fieldset legend {
    padding: 0 5px; }

/* line 203, /Users/nadegehamann/Desktop/templateGit/templateTest.scss */
label {
  margin-right: 5px; }

/* line 209, /Users/nadegehamann/Desktop/templateGit/templateTest.scss */
.commentaires {
  border-top: 1px solid;
  margin-top: 3rem; }
  /* line 212, /Users/nadegehamann/Desktop/templateGit/templateTest.scss */
  .commentaires > div:last-of-type > p {
    font-weight: bold;
    margin: 3rem 10px 10px 10px; }

/* line 217, /Users/nadegehamann/Desktop/templateGit/templateTest.scss */
legend {
  font-size: 2rem; }

/* line 220, /Users/nadegehamann/Desktop/templateGit/templateTest.scss */
.com {
  margin: 3rem 0; }
  /* line 222, /Users/nadegehamann/Desktop/templateGit/templateTest.scss */
  .com p:last-of-type {
    margin-left: 20px; }
  /* line 225, /Users/nadegehamann/Desktop/templateGit/templateTest.scss */
  .com .dateCom {
    font-size: 1.3rem;
    font-style: italic; }

/* line 233, /Users/nadegehamann/Desktop/templateGit/templateTest.scss */
.rubrique {
  background-color: #f29400;
  padding: 10px;
  margin: 10px 0; }
  /* line 235, /Users/nadegehamann/Desktop/templateGit/templateTest.scss */
  .rubrique h2, .rubrique h2 a {
    color: #000;
    font-size: 2rem; }
    /* line 238, /Users/nadegehamann/Desktop/templateGit/templateTest.scss */
    .rubrique h2:hover, .rubrique h2 a:hover {
      text-decoration: underline; }

/* line 243, /Users/nadegehamann/Desktop/templateGit/templateTest.scss */
.rubrique p:last-of-type {
  text-align: center; }

/* line 246, /Users/nadegehamann/Desktop/templateGit/templateTest.scss */
.suite {
  color: #000;
  display: inline-block;
  margin: auto;
  border: 1px solid;
  padding: 5px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.3rem; }

/* line 249, /Users/nadegehamann/Desktop/templateGit/templateTest.scss */
.suite:hover {
  border: none;
  background-color: #FFF; }

/* line 252, /Users/nadegehamann/Desktop/templateGit/templateTest.scss */
.rubrique h3 a {
  color: #000; }
  /* line 254, /Users/nadegehamann/Desktop/templateGit/templateTest.scss */
  .rubrique h3 a:hover {
    text-decoration: underline; }

/* line 261, /Users/nadegehamann/Desktop/templateGit/templateTest.scss */
footer {
  background-color: #007492;
  color: #FFF; }
  /* line 264, /Users/nadegehamann/Desktop/templateGit/templateTest.scss */
  footer #arboFooter {
    padding: 3rem 0;
    background-color: #004b5f;
    list-style: none; }
    /* line 268, /Users/nadegehamann/Desktop/templateGit/templateTest.scss */
    footer #arboFooter a {
      font-weight: normal; }
    /* line 271, /Users/nadegehamann/Desktop/templateGit/templateTest.scss */
    footer #arboFooter ul {
      list-style: none; }
  /* line 275, /Users/nadegehamann/Desktop/templateGit/templateTest.scss */
  footer #liensFooter {
    text-align: center;
    padding: 3rem 0; }
    /* line 278, /Users/nadegehamann/Desktop/templateGit/templateTest.scss */
    footer #liensFooter a {
      margin: 0 10px; }
  /* line 282, /Users/nadegehamann/Desktop/templateGit/templateTest.scss */
  footer a {
    color: #FFF;
    text-decoration: none; }

/* line 287, /Users/nadegehamann/Desktop/templateGit/templateTest.scss */
footer nav > ul > li {
  margin: auto; }

/*# sourceMappingURL=templateTest.css.map */