<main>
<section class="flexslider">
  <ul class="slides">
    <li>
      <img src="logoNina.png" />
      <div class="texteSlider">
          <h3>Logo Nina</h3>
          <p>Blabla blabla blabla cms Nina</p>
          <p><a class="suiteSlider" href="#">En savoir plus</a></p>
      </div>		  
    </li>
    <li>
      <img src="kiwi.jpg" />
      <div class="texteSlider">
          <h3>Kiwi</h3>
          <p>Blabla blabla blabla lapin trop mignon</p>
          <p><a class="suiteSlider" href="#">En savoir plus</a></p>
      </div>
    </li>
  </ul>
</section>
<section class="actualites">
   <div class="mw960p grid-3-small-2">
   {% for idActu in listeActus %}
    <article class="actu">
        <header><p><a href="{{ idActu.getlien() }}">{{ idActu.getTitre() }}</a></p>
        <time>{{ idActu.getDate() | date ("l j F Y")}}</time></header>
        <a href="{{ idActu.getLien() }}"><img src="{{ idActu.getImage() }}"/></a>
        <p>{{ idActu.getTexte() }}</p>
        <p><a class="suite" href="{{ idActu.getLien() }}">Lire la suite</a></p>
    </article>
    {% endfor %}
    </div>
</section>
</main>