<footer>
    <nav id="arboFooter">
    <ul class="mw960p flex-container">
        <li><a href="rubrique.html">Rubrique Test</a>
            <ul>
                <li><a href="page.html">Page Test</a></li>
                <li><a href="galerie.html">Galerie</a></li>
                <li><a href="#">Carola</a></li>
                <li><a href="#">Flammekueche</a></li>
                <li><a href="#">Wurscht</a></li>
            </ul>
        </li>
        <li><a href="#">Melfor</a>
            <ul>
                <li><a href="#">Picon bière</a></li>
                <li><a href="#">Melfor</a></li>
                <li><a href="#">Carola</a></li>
                <li><a href="#">Flammekueche</a></li>
                <li><a href="#">Wurscht</a></li>
            </ul>
        </li>
        <li><a href="#">Carola</a></li>
        <li><a href="#">Flammekueche</a></li>
        <li><a href="#">Wurscht</a></li>
    </ul>
    </nav>
    <div class="mw960p" id="liensFooter">
        <a href="#">Plan du site</a>
        <a href="#">Recherche</a>
        <a href="#">Mentions légales</a>
        <div>Super template de test réalisé par Nadège</div>
    </div>
</footer>