<html>
<head>
<title>Template test</title>
<link rel="stylesheet" href="css/knacss.css" />
<link rel="stylesheet" href="css/templateTest.css" />
<link rel="stylesheet" href="css/font-awesome-4.7.0/css/font-awesome.min.css" />
<link  href="js/jquery.fancybox.min.css" rel="stylesheet" />
<link  href="js/flexslider.css" rel="stylesheet" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<header>
    <div class="mw960p" id="logoSite">
        <a href="accueil.html">
            <img src="logoNina.png"/>
        </a>    
    </div>
    <nav role="navigation">
    <a class="menuBurger" href="#"><i class="fa fa-bars" aria-hidden="true"></i></a>
    <ul class="mw960p flex-container">
        <li><a href="rubrique.html">Rubrique Test</a>
            <ul>
                <li><a href="page.html">Page test</a>
                    <ul>
                        <li><a href="#">Picon Bière</a></li>
                        <li><a href="#">Melfor</a></li>
                        <li><a href="#">Carola</a></li>
                    </ul>
                </li>
                <li><a href="galerie.html">Galerie</a></li>
                <li><a href="#">Carola</a></li>
                <li><a href="#">Flammekueche</a></li>
                <li><a href="#">Wurscht</a></li>
            </ul>
        </li>
        <li><a href="#">Melfor</a>
            <ul>
                <li><a href="#">Picon bière</a></li>
                <li><a href="#">Melfor</a></li>
                <li><a href="#">Carola</a></li>
                <li><a href="#">Flammekueche</a></li>
                <li><a href="#">Wurscht</a></li>
            </ul>
        </li>
        <li><a href="#">Carola</a></li>
        <li><a href="#">Flammekueche</a></li>
        <li><a href="#">Wurscht</a></li>
    </ul>
    </nav>
</header>