<main class="mw960p">
<section class="ariane">
       <a href="accueil.html">Accueil</a> > Rubrique test
</section>
<section>
    <div class="grid-3-small-2-tiny-1 has-gutter-l">
    <div class="rubrique">
        <a href="page.html"><img src="logoNina.png"/></a>
        <h2><a href="page.html">Page test</a></h2>
        <p>Lorem Elsass ipsum commodo Oberschaeffolsheim hoplageiss et placerat flammekueche kuglopf amet quam, tchao bissame hopla nüdle eleifend leverwurscht sit tellus Gal. ac sed réchime rucksack Richard Schirmeck ac mamsell Strasbourg id, Pfourtz ! mollis libero. nullam pellentesque Salu bissame semper ftomi!</p>
        <p><a class="suite" href="page.html">Lire la suite</a></p>
    </div>    	
    <div class="rubrique">
        <a href="#"><img src="logoNina.png"/></a>
        <h2><a href="#">Article 2</a></h2>
        <p>Lorem Elsass ipsum commodo Oberschaeffolsheim hoplageiss et placerat flammekueche kuglopf amet quam, tchao bissame hopla nüdle eleifend leverwurscht sit tellus Gal. ac sed réchime rucksack Richard Schirmeck ac mamsell Strasbourg id, Pfourtz ! mollis libero. nullam pellentesque Salu bissame semper ftomi!</p>
        <p><a class="suite" href="#">Lire la suite</a></p>
    </div>    	
    <div class="rubrique">
        <a href="#"><img src="logoNina.png"/></a>
        <h2><a href="#">Article 3</a></h2>
        <p>Lorem Elsass ipsum commodo Oberschaeffolsheim hoplageiss et placerat flammekueche kuglopf amet quam, tchao bissame hopla nüdle eleifend leverwurscht sit tellus Gal. ac sed réchime rucksack Richard Schirmeck ac mamsell Strasbourg id, Pfourtz ! mollis libero. nullam pellentesque Salu bissame semper ftomi!</p>
        <p><a class="suite" href="#">Lire la suite</a></p>
    </div>
    <div class="rubrique">
        <a href="#"><img src="logoNina.png"/></a>
        <h2><a href="#">Article 4</a></h2>
        <p>Lorem Elsass ipsum commodo Oberschaeffolsheim hoplageiss et placerat flammekueche kuglopf amet quam, tchao bissame hopla nüdle eleifend leverwurscht sit tellus Gal. ac sed réchime rucksack Richard Schirmeck ac mamsell Strasbourg id, Pfourtz ! mollis libero. nullam pellentesque Salu bissame semper ftomi!</p>
        <p><a class="suite" href="#">Lire la suite</a></p>
    </div>
    <div class="rubrique">
        <a href="#"><img src="logoNina.png"/></a>
        <h2><a href="#">Article 5</a></h2>
        <p>Lorem Elsass ipsum commodo Oberschaeffolsheim hoplageiss et placerat flammekueche kuglopf amet quam, tchao bissame hopla nüdle eleifend leverwurscht sit tellus Gal. ac sed réchime rucksack Richard Schirmeck ac mamsell Strasbourg id, Pfourtz ! mollis libero. nullam pellentesque Salu bissame semper ftomi!</p>
        <p><a class="suite" href="#">Lire la suite</a></p>
    </div>
    </div>
</section>
</main>